#template_customer_items_html .form-grid{
	display: inline-block!important;
    

}
#template_customer_items_html{
	overflow-x: scroll;
    overflow-y:auto;
    width:100%;
    padding-bottom:20px;
	margin-top:20px !important;
}
#template_customer_items_html.withoutScroll{
	overflow-x: visible !important;
}

#template_customer_items_html .col-xs-2{
	display:table-cell !important;
	width: 150px;
	float:none;
}
#template_customer_items_html .grid-heading-row{
	display:flex !important;
}
.ravenna_container{
	width:100% !important;
}

#template_customer_items_html .editable_row{
	border-bottom:1px solid #d1d8dd;
}
#template_customer_items_html  .editable_row .frappe-control{
	margin: 0px;
}
#template_customer_items_html .editable_row  .grid-static-col{
	padding:0px;
}
#template_customer_items_html .editable_row .grid-static-col{
	height:auto;
	float:left;
}
#template_customer_items_html .editable_row .form-control{
	border:none;
}
.has_qty,.has_qty input,.has_qty select,#template_customer_items_html .editable_row.has_qty .form-control{
	background: #edffed;
}
.report-atb-sep-holder{
	padding:20px;
}